/* Add some margins to the wrapper */
.ogdi-wrapper {
  margin:10px 0;
}

/* Need to stop maps from being positioned all over the page */
.ogdi-map, 
.bing-map {
  height:400px;
  position: relative;
}

.bing-map {
  width:100%;
}

/* Override the default Bing Map width */
.ogdi-map .bing-map {
  width:100% !important;
}

/* Style the filter help link */
.ogdi-helptip {
  display: block;
  float:right;
  font-size:0.81em;
  text-align:right;
}